.dialog-container {
  padding: 20px 30px 0px 30px;
  border-radius: 0px;
  background: #232323;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 10px 50px rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -2%);
  z-index: 2;
}

.closeButton {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  text-align: right;
}

.closeButton:hover {
  cursor: pointer;
}

.movieFormContent {
  width: 560px;
  height: 560px;
}

.movieFormResetBtn,
.movieFormSubmitBtn {
  cursor: pointer;
}

.movieFormBoxTitle {
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.movieFormLabel {
  color: #f65261;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
}

.movieGenre > label {
  margin: 17px 0 10px 0;
}

.inputRow {
  display: flex;
  flex-direction: row;
  height: 95px;
}

.inputRow > div {
  display: flex;
  flex-direction: column;
}

.inputRow > div:first-child {
  width: 70%;
  padding-right: 10px;
}

.inputRow > div:nth-child(2) {
  width: 30%;
}

.inputRow > div > input {
  height: 40px;
}

.inputRow input,
.inputRow textarea,
.inputRow select {
  background: rgba(50, 50, 50, 0.948044);
  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 4px;
  border: 0px;
  color: #fff;
  font-size: 15px;
  padding-left: 10px;
}

.inputRow.textarea {
  display: flex;
  flex-direction: column;
  height: 175px;
}

.inputRow textarea {
  height: 130px;
  font-family: Montserrat;
  padding: 10px;
}

.formButtonsWrapper {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

.multiSelectDropDown > span > div > div {
  border: 0px;
  background-color: rgb(53, 55, 54);
}

#react-select-2-listbox label {
  color: #fff;
  margin-left: 2px;
  font-size: 15px;
}

.css-1xc3v61-indicatorContainer {
  color: #f65261;
}

::-webkit-calendar-picker-indicator {
  background-image: url('../../assets/Calendar_Icon.png');
  margin-right: 5px;
}

.error {
  /* height: 30px; */
}
.formValidationError {
  font-size: 13px;
  color: #b7b7b7;
  font-style: italic;
}
